button {
    place-self: right;
    font-size: 1rem;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em !important;
    font-size: 1rem !important;
    --mat-checkbox-label-text-size: 1rem;

    .label-value-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
    }

    .row {
        display: block;
        margin-right: auto;
        margin-left: auto;
        min-width: 60%;
        max-width: 90%;
    }

    mat-slider {
        margin: unset;
        width: 100%;
    }
}
