<div
    mat-dialog-title
    class="mat-elevation-z5">
    <span>Prezutie (4 kolesá)</span>
</div>

<mat-dialog-content>
    <!-- Typ auta -->
    <div class="row">
        <mat-button-toggle-group
            [name]="'carType'"
            [hideSingleSelectionIndicator]="true"
            [(ngModel)]="carType">
            @for (t of carTypes; track $index) {
                <mat-button-toggle [value]="t">
                    {{ t }}
                </mat-button-toggle>
            }
        </mat-button-toggle-group>
    </div>

    <!-- Komplet -->
    <div class="row">
        <mat-button-toggle-group
            [name]="'completeChange'"
            [hideSingleSelectionIndicator]="true"
            [(ngModel)]="completeChange">
            <mat-button-toggle [value]="false">
                Prehodenie kolies
            </mat-button-toggle>
            <mat-button-toggle [value]="true">
                Kompletné prezutie
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <!-- Disk -->
    <div class="row">
        <div class="label-value-container">
            <span>Veľkosť diskov:</span>
            <span>{{ diskSize }}''</span>
        </div>
        <mat-slider
            [discrete]="false"
            [min]="14"
            [max]="22"
            [step]="1"
            [showTickMarks]="true">
            <input
                matSliderThumb
                [(ngModel)]="diskSize" />
        </mat-slider>
    </div>

    <!-- Cena -->
    <mat-divider />
    <div>
        <div class="label-value-container">
            <button mat-flat-button>
                <b>{{ carType | appPrice: completeChange : diskSize }} €</b>
            </button>
        </div>
        <div>
            <p>*Zahŕňa vyváženie diskov, výmenu a hustenie</p>
            <mat-divider />
        </div>
        <mat-divider />

        <!-- Footer -->
        <mat-dialog-actions [align]="'center'">
            <button
                mat-button
                mat-dialog-close>
                Zavrieť
            </button>
        </mat-dialog-actions>
    </div>
</mat-dialog-content>
