:host {
    max-width: 1000px;
}

#zavolaj {
    padding: unset;

    button {
        --mdc-filled-button-container-height: 4em;
        min-width: min(100%, 600px);
        font-size: 1.1em;
        line-height: 1.5em;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    place-items: center;

    img {
        max-width: 200px;
    }

    p {
        opacity: 0.9;
    }

    @media (max-width: 641px) {
        flex-direction: column;
    }
}

mat-card-content {
    padding: unset !important;

    mat-accordion {
        mat-list-item {
            b {
                text-decoration: underline;
            }
        }
    }
}

i {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
