<h2><b>Pojazdný Pneuservis Martin</b></h2>

<p id="zavolaj">
    <button
        mat-flat-button
        href="tel:+421904123023">
        Nečakaj v rade, my prídeme za tebou!
        <br />
        +421 904 123 023
        <i class="fa fa-phone"></i>
    </button>
</p>

<p id="nonstop"><b>NONSTOP výjazd k defektom / odťah vozidla</b></p>

<mat-card [appearance]="'outlined'">
    <mat-card-content>
        <mat-accordion [displayMode]="'flat'">
            @for (item of accordionItems; track $index) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i [class]="'fa ' + item.icon"></i>
                            {{ item.title }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-divider />
                    <mat-list role="list">
                        @for (subItem of item.subItems; track $index) {
                            <mat-list-item role="listitem">
                                <i class="fa fa-caret-right"></i>
                                {{ subItem.title }}
                            </mat-list-item>
                        }
                    </mat-list>
                    <mat-divider />
                </mat-expansion-panel>
            }
        </mat-accordion>
    </mat-card-content>
</mat-card>

<p>
    Počas nášho pôsobenia na trhu sme získali bohaté skúsenosti v oblasti
    pneuservisu a výjazdov v teréne. Okrem služieb pneuservisu ponúkame aj odťah
    nepojazdného vozidla alebo prepravu prostredníctvom autotransportu.
</p>
<p>
    Naším cieľom je vaša bezpečnosť a pohodlie. Preto sa snažíme byť čo
    najrýchlejší a najefektívnejší. Zavolajte a dohodneme sa.
</p>
<p> Baví nás pomáhať Vám! </p>
