:host {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

#zavolaj {
    padding: unset;

    button {
        --mdc-filled-button-container-height: 4em;
        min-width: min(100%, 600px);
        font-size: 1.1em;
        line-height: 1.5em;
    }
}

#nonstop {
    opacity: 0.7;
}

mat-card-content {
    padding: unset !important;

    mat-accordion {
        mat-panel-title {
            justify-content: center;
            margin: unset;
        }

        mat-list-item {
            b {
                text-decoration: underline;
            }
        }
    }
}

i {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
