:host {
    display: grid;
    position: relative;
    place-items: center;
}

.panorama-container {
    position: relative;
    border-radius: 0px 0px 15px 15px;
    max-width: 2000px;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
