:host {
    display: block;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div {
    font-size: 1em;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

img {
    max-width: 60%;
}
