@use "sass:map";
@use "@angular/material" as mat;
@use "./_theme-colors.scss" as theme;

@include mat.elevation-classes();
@include mat.app-background();

$dark-theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$azure-palette,
        ),
    )
);

// Define a light theme
$light-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: theme.$primary-palette,
        ),
    )
);

html {
    // Apply the dark theme by default
    @include mat.all-component-themes($dark-theme);

    // Apply the light theme only when the user prefers light themes.
    .light-theme {
        // Use the `-color` mixins to only apply color styles without reapplying the same typography and density styles.
        @include mat.all-component-colors($light-theme);
    }

    mat-card.elevated {
        @include mat.elevation(2);
    }
}
