@import "@angular/cdk/overlay-prebuilt.css";

* {
    box-sizing: border-box;
    text-align: center;
    text-wrap: balance;
}

h2 {
    letter-spacing: 0.25em;
    font-weight: bold;
}

p {
    padding: 0.5em 1em;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    vertical-align: middle;
}

// common box shadow for the big page elements
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px,
        rgba(0, 0, 0, 0.35) 0px -10px 15px;
}

// backdrop to hide side menu
.mat-drawer-backdrop.mat-drawer-shown {
    position: fixed;
}
