<!-- Nav bar -->
<app-nav />

<!-- Content -->
<div id="domov">
    <!-- Panorama -->
    <div style="display: grid; place-items: center;">

        <div
            class="w3-display-container w3-center box-shadow"
            style="max-width: 2000px;"
        >
            <img
                src="/panorama.webp"
                style="width: 100%;max-width: 100%; height: auto;"
            >
        </div>
    </div>

    <!-- O nas -->
    <div
        id="o-nas"
        class="w3-container w3-content w3-center w3-padding-16"
    >
        <h2><b>Pojazdný Pneuservis Martin</b></h2>
        <p><b>NONSTOP výjazd k defektom / odťah vozidla</b></p>
        <p class="w3-justify w3-center">
            Baví nás pomáhať Vám!
            <br>
            Ponúkame služby pojazdného pneuservisu pre vozidlá do 3,5 t, vrátane opráv defektov. V prípade potreby
            zabezpečíme aj odťah nepojazdného vozidla alebo prepravu prostredníctvom autotransportu. Na trhu pôsobíme už
            niekoľko rokov a za ten čas sme získali bohaté skúsenosti v oblasti pneuservisu a výjazdov v teréne.
            <br>
            Naším prvoradým cieľom je vaša bezpečnosť, preto vždy zabezpečíme dostatočné označenie vášho vozidla 🚨. Sme
            pripravení prísť kdekoľvek, za každého počasia a v ktorúkoľvek hodinu. Rovnako vám radi pomôžeme aj pri
            sezónnej výmene pneumatík. Ak nechcete čakať v radoch, ponúkame službu „NEČAKAJ V RADE, MY PRÍDEME ZA
            TEBOU“, kde sa zameriavame na väčší počet vozidiel (4 a viac). Ceny riešime individuálne po telefonickej
            dohode.
        </p>
    </div>

    <!-- Sluzby -->
    <app-services
        id="sluzby"
        class="box-shadow"
    />

    <div class="x">
        <gallery
            id="imagesLeft"
            class="box-shadow"
            [gallerize]="'imagesLeft'"
            [items]="imagesLeft"
        />

        <!-- Kontakt -->
        <app-contact id="kontakt" />

        <!-- Galeria -->
        <gallery
            id="imagesRight"
            class="box-shadow"
            [gallerize]="'imagesRight'"
            [items]="imagesRight"
        />
        <!-- <app-gallery
            id="galeria"
            class="box-shadow"
        /> -->
    </div>
</div>