<mat-sidenav-container>
    <!-- Nav bar -->
    <app-navigation id="domov" />

    <!-- Content -->
    <div>
        <!-- Panorama -->
        <app-panorama />

        <!-- O nas -->
        <app-about-us id="o-nas" />

        <!-- Sluzby -->
        <app-services id="sluzby" />

        <!-- Kontakt a galeria -->
        <div class="galleries-contact-container">
            <!-- Galeria 1 -->
            <app-gallery
                [folderName]="'servis'"
                [imagesCount]="12" />

            <!-- Kontakt -->
            <app-contact id="kontakt" />

            <!-- Galeria 2 -->
            <app-gallery
                [folderName]="'odtahovka'"
                [imagesCount]="7" />
        </div>
    </div>
</mat-sidenav-container>
