nav {
    --mat-tab-header-label-text-size: 1.1em;
    background-color: var(--mat-app-background-color);
}

.fa,
.fa-brands {
    font-size: 1.3em;
}

mat-sidenav-container {
    display: none;
}

@media (max-width: 641px) {
    mat-sidenav-container {
        display: block;
        position: fixed;
        z-index: 10;
        border-radius: 1em;

        mat-sidenav-content {
            text-align: right;

            button {
                margin: 0.5em;
            }
        }

        mat-sidenav {
            display: flex;
            flex-direction: column;
            height: 100%;

            button {
                display: block;
                width: 80%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    nav {
        display: none;
    }
}
