:host {
    position: relative;
    width: 100%;
    z-index: 10;
    background: black;
    display: block;
    height: 3em;
    place-items: center;
    color: white;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.fa,
.fa-brands {
    font-size: 1.3em;
}

.nav-container {
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 1em;

    .nav-item {
        background: black;
        height: 100%;
        text-align: center;
        padding-right: 1.5em;
        padding-left: 1.5em;
        display: grid;
        place-items: center;
        transition: background-color 0.3s, color 0.3s, font-size 0.3s;

        &:hover {
            background: lightgray;
            color: black;
            font-size: 1.2em;
        }
    }
}

#toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 641px) {
    #toggle {
        display: inline;
        width: auto;
        height: auto;
        cursor: pointer;
        background-color: transparent;
    }

    .nav-container {
        position: fixed;
        flex-direction: column;
        padding: 0;
        height: auto;

        .nav-item {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            width: 100%;
        }

        &.collapsed {
            .nav-item + .nav-item {
                display: none;
            }
        }
    }
}
