<!-- Mobile nav -->
<mat-sidenav-container
    style="right: 0;"
    [hasBackdrop]="true"
>
    <mat-sidenav
        #sidenav
        mode="over"
        [autoFocus]="false"
        [fixedInViewport]="true"
        [position]="'end'"
    >
        @for (link of items; track link) {
        <button
            mat-button
            (click)="goTo(link); sidenav.close()"
        >
            {{link.title}}
            @if (link.icon) {
            <i [class]="'fa-brands ' + link.icon"></i>
            }
        </button>
        }
    </mat-sidenav>

    <mat-sidenav-content>
        <button
            mat-button
            (click)="sidenav.toggle()"
        >
            <i class="fa fa-bars"></i>
        </button>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Desktop nav -->
<nav
    mat-tab-nav-bar
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [tabPanel]="tabPanel"
>
    @for (link of items; track link) {
    <a
        mat-tab-link
        (click)="goTo(link)"
    >
        {{link.title}}
        @if (link.icon) {
        <i [class]="'fa-brands ' + link.icon"></i>
        }
    </a>
    }
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>